$turn-row-height: 33 / 16 * 1rem + .5rem;
$turn-current-row-height: 45 / 16 * 1rem + 0.75rem;

.turn-list-wrapper {
  height: (2 * $turn-row-height) + $turn-current-row-height;
  margin-bottom: 2rem;
  overflow: hidden;

  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.turn-list {
  list-style: none;
  transition: transform 0.3s ease;
}

.turn-row {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  margin: 0 -0.5rem;
  border-bottom: 1px solid #000;

  opacity: 0;

  transition: 0.3s ease;
  transition-property: opacity, background-color;

  max-height: $turn-row-height;
}

.turn-row--header {
  font-weight: bold;
  // display: none;
  opacity: 0;
}

.turn-row--current {
  background-color: white;
  opacity: 1;
  font-size: 1.5rem;

  max-height: $turn-current-row-height;

  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.turn-row--prev,
.turn-row--next {
  opacity: 0.5;
}

.turn-row--prev {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.turn-row--next {
  border-bottom: none;

  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.turn-row__cell {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1;
  transition: 0.3s ease;
  text-align: center;
}

.turn-row__cell--number {
  width: 2rem;
}
